 *{
    margin: 0px;
    padding: 0px;
}

table{
    border-top-style:groove;
}
/*header logo*/

 #heading{
    float: left;
    width: 930px;
}

/* menu navigasi */
#menu {
    padding-left: 15px;
    
}

#menu ul {
    list-style: none;

}

#menu ul li {
    float: left;
    line-height: 100px

}

#menu ul li a {
    float:left; 
    width:100px; 
    display:block; 
    text-align:center; 
    color:#fff; 
    text-decoration:none; 
}

#menu ul ul {
    display:none; 
    list-style:none; 
    position:absolute; 
    float: none;
    top:65px; 
    width:200px;
}

#menu ul li a:hover { 
    display:grid;
    background-color: red;
}

#menu ul li:hover ul {
    display:block;
}

#menu ul ul li a {
    display:block;
    padding-left:50px; 
    text-align:left; 
    width:160px;
    height: 100px;
    line-height: 100px;
}

p.welcome{
	font-size: 45px;
	color: white;
}

p.make{
	font-size: 70px;
	color: white;
	font-family: Fantasy;
}

p.make1{
	font-size: 65px;
	color: white;
	font-family: Arial Black;
}

/*class buat di button contact us */
p.jadwal{
	font-size: 25px;
	color: white;
	background-color: #53bd84;
	padding-top: 20px;
	width: 150px;
	height: 50px;
	font-family: Fantasy;
    border-radius: 5px;
}

/* class buat di kontak instagram */
p.kontak{
    font-size: 25px;
    color: white;
    background-color: blue;
    padding-top: 20px;
    width: 250px;
    height: 50px;
    font-family: Fantasy;
    border-radius: 15px;
}
: 50px;
    font-family: Fantasy;
    border-radius: 15px;
}
/* class buat menghilangkan garis di button */
.link{
	text-decoration: none;
}

/*menambahkan enter di setiap objek yang dipakai */
.welcom{
    padding-top: 240px;
}

.welcom1{
    padding-top: 100px;
}

td{
   padding-top: 15px;
}

/*class buat konten isi about dan tours */
.about{
	background-color: white;
	text-align: justify;
	color: #696969;
	padding-left: 150px;
	padding-right: 150px;
}
/* class buat isi konten utama,jakarta, dan daftar */
.about1{
    background-color: white;
    text-align: justify;
    color: black;
    width: 50%;
    padding-left: 150px;
    padding-right: 150px;
}
.about2{
    background-color: white;
    text-align: justify;
    color: black;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


/* rubah style di semua h2 */
h2 {
	font-family: Courier new;
	text-align: center;
    font-weight: bold;
    font-style: normal;
}

/* menambahkan warna di garis */
hr{
    color: #dcdcdc;
}

/*class biar gambar menjadi galeri horizontal */
img.gambar {
     width: 300px;
     height: 200px;
     border: 4px solid #575D63;
     padding: 10px;
   }


/* id untuk menambahkan copyright di kaki web */
#footer{
    line-height:50px;
    background:#333;
    color:#fff;
    text-align: center;
}
